<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script src='/js/script.js' defer></script>
</head>
<body>
    <div class="main">
        
        <%- include("leftBar") %>

        <div class="right-container">
            
            <%- include("header") %>
            
            <div class="content">
                <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        Receptionniste profil
                    </p>
                    <p class="page-title">
                        information du patient...
                    </p>
                </div>
                <% if(locals.message){ %>
                    <div class="notification">
                        <p>
                            <%=message %>
                        </p>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                <% } %>
                <div class="basic-info">
                    <div class="colonne-info">
                        <h2>iD</h2>
                        <p><%=patient.id %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>NOM</h2>
                        <p><%=patient.name %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>PRENOM</h2>
                        <p><%=patient.surname %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>DATE DE NAISSANCE</h2>
                        <p><%=patient.birthdate.toLocaleDateString() %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>SEXE</h2>
                        <p><%=patient.sex %></p>
                    </div>
                    
                    
                </div>

                <div class="basic-info">
                    <div class="colonne-info">
                         <h2>Adresse</h2>
                         <p><%=patient.address %></p>
                     </div>
                     <div class="colonne-info">
                        <h2>N° DE CNI</h2>
                        <p><%=patient.CNI %></p>
                    </div>
                 </div>

                <div class="basic-info">
                   <div class="colonne-info">
                        <h2>E-MAIL</h2>
                        <p><%=patient.email %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>N° DE TELEPHONE</h2>
                        <p><%=patient.phone %></p>
                    </div>
                </div>
                <div class="maj-profil">
                     <a href=<%="/fulltang/V0/receptionnist/edit/"+patient.id %>>Modifer</a>
                     <a>Supprimer</a>
                </div>

            </div>
        </div>
         
    </div>
    
</body>
</html>



