<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script  src='/js/script.js' defer></script>
    <script  src='/js/pagination.js' defer></script>
</head>

<body>
    <div class="preload"></div>
    <div class="main">
        
        <%- include("leftBar") %>

        <div class="right-container">

            <%- include("header") %>
            
            <div class="content">
                <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        <span><%=user.specialite %> </span> profil
                        
                    </p>
                    <p class="page-title">
                        Liste des consultations...
                    </p>
                </div>
                <div class="patient-list">
                    <div class="search">
                        <div>
                            <input type="text" placeholder="search">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                    <div class="tableBloc">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID_C</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Sexe</th>
                                    <th>service</th>
                                    <th>rdv</th>
                                    <th>montant</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% consultation.forEach(i=>{ %>
                                    <tr>
                                        <td><%=i.id %></td>
                                        <td><%=i.patient.nom %></td>
                                        <td><%=i.patient.prenom%></td>
                                        <td><%=i.patient.sexe %></td>
                                        <td><%=i.specialite %></td>
                                        <td><%=i.rendez_vous %></td>
                                        <td><%=i.montant %></td>
                                        
                                        <td>
                                            <a class="payement" style="background: #1d87b4;" href=<%="/fulltang/V0/doctor/consultation/"+i.id %> >consulter <i class="fa-solid fa-briefcase-medical"></i></a>
                                            
                                        </td>
                                    </tr>
                                <% }) %>
                                
                                 
                                
                            </tbody>
                        </table>
                        <div class="pagination">
                            <button class="prev"><<</button>
                            <p>
                                page   
                                <span class="n-page">1</span>/<span class="t-page"></span >
                            </p>
                            <button class="next">>></button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
         
    </div>
    <script>
        var  socket= io()
        let table= document.querySelector(".table tbody")
        let specialite="<%=user.specialite %>"
       
        socket.on('consultation_paid',(data)=>{

            if(specialite==data.specialite){
                let tr =document.createElement('tr')

                tr.innerHTML=   "<td>"+data.id+"</td>"+
                                "<td>"+data.patient.nom+"</td>"+
                                "<td>"+data.patient.prenom+"</td>"+
                                "<td>"+data.patient.sexe+"</td>"+
                                "<td>"+data.specialite+"</td>"+
                                "<td>"+data.rendez_vous+"</td>"+
                                "<td>"+data.montant+"</td>"+
                                "<td><a class='payement' style='background: #1d87b4;' href='/fulltang/V0/doctor/consultation/"+data.id+"'"+"> consulter <i class='fa-solid fa-briefcase-medical'></i></a> </td>"
                
                if(table.children.length > 0){
                    table.insertBefore(tr,table.children[0])
                }else{
                    table.appendChild(tr)
                }
            }

            

        })

    </script>
    
</body>
</html>