<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script src='/js/script.js' defer></script>
</head>
<body>
    <div class="preload"></div>
    <div class="main">
        
        <%- include("leftBar") %>

        <div class="right-container">
            
            <%- include("header") %>
            
            <div class="content">
                <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        Administrator profil
                    </p>
                    <p class="page-title">
                        information du personnel...
                    </p>
                </div>
                <% if(locals.message){ %>
                    <div class="<%='notification '+type %>" >
                        <p>
                            <%=message %>
                        </p>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                <% } %>
                <div class="basic-info">
                    <div class="colonne-info">
                        <h2>iD</h2>
                        <p><%=personnel.id %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>NOM</h2>
                        <p><%=personnel.nom %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>PRENOM</h2>
                        <p><%=personnel.prenom %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>DATE DE NAISSANCE</h2>
                        <p><%=personnel.date_naissance.toLocaleDateString() %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>SEXE</h2>
                        <p><%=personnel.sexe %></p>
                    </div>
                    
                    
                </div>

                <div class="basic-info">
                    <div class="colonne-info">
                        <h2>Profil</h2>
                        <p><%=personnel.specialite %></p>
                    </div>
                    <div class="colonne-info">
                         <h2>Adresse</h2>
                         <p><%=personnel.domicile %></p>
                     </div>
                     <div class="colonne-info">
                        <h2>N° DE CNI</h2>
                        <p><%=personnel.CNI %></p>
                    </div>
                 </div>

                <div class="basic-info">
                   <div class="colonne-info">
                        <h2>E-MAIL</h2>
                        <p><%=personnel.email %></p>
                    </div>
                    <div class="colonne-info">
                        <h2>N° DE TELEPHONE</h2>
                        <p><%=personnel.telephone %></p>
                    </div>
                </div>
                
            </div>
            
        </div>
         
    </div>
   
</body>
</html>



